

#task-type {
    width: 80%;
    height: 40px;

    padding: 30px;
    display: flex;
    justify-content: left;
}

select {
    margin-right: 20px;
}

#arrays-tasks {
    display: block;
}

#numbers-tasks {
    display: none;
}

#string-tasks {
    display: none;
}